/* colecciones.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f5f5f5;
    color:#222;
}

/* ====================== Grain efect =======================*/

body::before{
    content:"";

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background-image:url('../img/grain.home.png');
    background-repeat:repeat;

    opacity:0.5;

    pointer-events:none;

    z-index:9999;
}

.logo{
    display:flex;
    align-items:center;
    gap:0px;
}

.logo img{
    width:65px;
    height:65px;

    object-fit:contain;
}

/* ================= HEADER ================= */

.header{
    width:100%;
    height:90px;
    background:#111;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;

    position:fixed;
    top:0;
    left:0;
    z-index:1000;
}

.logo h1{
    color:gold;
}

.navbar{
    display:flex;
    gap:30px;
}

.navbar a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.navbar a:hover{
    color:gold;
}

.header-icons{
    display:flex;
    gap:20px;
    font-size:1.2rem;
    cursor:pointer;
}

.header-icons i:hover{
    color: gold;
    transition:0.2s;
}

.carrito-icon{
    color:white;
    display:flex;
    gap:20px;
    font-size:1.2rem;
    transition:0.3s;
    text-decoration:none;
}

.carrito-icon:hover{
    color:gold;
}

/* ================= HERO ================= */

.hero{
    width:100%;
    height:60vh;

    background:url('../img/colecciones.jpg');

    background-size:cover;
    background-position:center;

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}

.hero-content{
    position:relative;
    color:white;
    text-align:center;
    z-index:2;
}

.hero-content h2{
    font-size:4rem;
    margin-bottom:20px;
}

.hero-content p{
    font-size:1.2rem;
}

/* ================= SECTION TITLE ================= */

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:2.8rem;
    margin-bottom:10px;
}

/* ================= COLLECTIONS ================= */

.collections{
    padding:100px 8%;
}

.collections-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap:35px;
}

.collection-card{
    background:white;
    border-radius:25px;
    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    transition:0.3s;
}

.collection-card:hover{
    transform:translateY(-10px);
}

.collection-image img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.collection-info{
    padding:25px;
}

.collection-info h3{
    font-size:1.5rem;
    margin-bottom:15px;
}

.collection-info p{
    color:#666;
    margin-bottom:25px;
}

.collection-info button{
    padding:12px 30px;

    border:none;
    border-radius:30px;

    background:black;
    color:white;

    cursor:pointer;
    transition:0.3s;
}

.collection-info button:hover{
    background:gold;
    color:black;
}

/* ================= FOOTER ================= */

.footer{
    background:#111;
    color:white;
    padding-top:60px;
}

.footer-container{
    padding:0 8% 40px;

    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:30px;
}

.footer-box{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.footer-box a{
    color:#ccc;
    text-decoration:none;
}

.footer-box a:hover{
    color:gold;
}

.social-icons{
    display:flex;
    gap:20px;
    font-size:1.5rem;
    color:gold;
}

.footer-bottom{
    text-align:center;
    padding:20px;
    border-top:1px solid #333;
}

/* ================= RESPONSIVE ================= */

@media(max-width:768px){

    .navbar{
        display:none;
    }

    .hero-content h2{
        font-size:2.5rem;
    }

}